<div class="container">
    <div class="top-buffer row">
        <div class="col-md-12">
            <input type="text" ng-model="model.device_id" placeholder="Device ID" class="form-control" autofocus>
        </div>
    </div>
    <div class="top-buffer row">
        <div class="col-md-12">
            <input type="text" ng-model="model.vehicle_number" placeholder="Vehicle Number" class="form-control">
        </div>
    </div>
    <div class="top-buffer row">
        <div class="col-md-12">
            <input type="text" ng-model="model.driver_name" placeholder="Driver Name" class="form-control">
        </div>
    </div>
    <div class="top-buffer row">
        <div class="col-md-12">
            <input type="text" ng-model="model.sos_number" placeholder="SOS contact" class="form-control">
        </div>
    </div>
    <div class="top-buffer row">
        <div class="col-md-12">
            <input type="button" ng-click="saveVehicleDetails()" value="Submit" class="btn btn-sm btn-success">
        </div>
    </div>
    <br/>
</div>
