<div class="container">
    <div class="top-buffer row">
        <div class="col-md-4">
            <input type="text" ng-model="model.field1" placeholder="Field 1" class="form-control">
        </div>
        <div class="col-md-4">
            <input type="text" ng-model="model.filed2" placeholder="Field 2" class="form-control">
        </div>
        <div class="col-md-4">
            <input type="text" ng-model="model.field3" placeholder="Field 3" class="form-control">
        </div>
    </div>
    <div class="top-buffer row">
        <div class="col-md-4">
            <input type="text" ng-model="model.field4" placeholder="Field 4" class="form-control">
        </div>
        <div class="col-md-4">
            <input type="text" ng-model="model.field5" placeholder="Field 5" class="form-control">
        </div>
        <div class="col-md-4">
            <input type="text" ng-model="model.field6" placeholder="Field 6" class="form-control">
        </div>
    </div>
    <div class="top-buffer row">
        <div class="col-md-offset-8 col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-block">Reset</button>
                </div>
                <div class="col-md-6">
                    <button ng-click="updateData()" type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
