<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Confirmation Needed !</strong> An email has been sent to you, please click the link in that to confirm your email.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="page-header">
                <h3>Welcome, {{currentUser}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a class="btn btn-primary btn-sm pull-left" ui-sref=".data">+ Add New Data</a>
        </div>
    </div>
    <br/>
    <table class="table table-hover table-striped table-bordered ">
        <thead>
            <tr>
                <th data-sort-ignore="true">Data ID</th>
                <th data-type="alpha">Field 1</th>
                <th>Field 2</th>
                <th data-sort-ignore="true">Field 3</th>
                <th>Field 4</th>
                <th>Field 5</th>
                <th>Field 6</th>
            </tr>
        </thead>
        <tbody>
            <!--  <tr ng-repeat="value in model">
            </tr> -->
        </tbody>
    </table>
</div>
