<div style="background-image:url('images/bck3.jpg'); background-size: cover;" >
<nav class='navbar navbar-default'>
	<div class="container">
	<div class="navbar-header">
      <a class="navbar-brand" href="/">Trail-Tracker</a>
    </div>
		<ul class="nav navbar-nav">
			<li><a class="posts" href="/#/">Posts</a></li>
			<li><a href="/#/home">Home</a></li>
		</ul>
		<ul ng-if="!currentUser" class="nav navbar-nav navbar-right">
			<li><a class="register" href="/#/register">Register</a></li>
			<li><a class="login" href="/#/">Login</a></li>
		</ul>
		<ul ng-if="currentUser" class="nav navbar-nav navbar-right">			
		<li><a class="logout" href="#" ng-click="logout()">Logout</a></li>
		</ul>

			
			
		
	<p ng-if='currentUser' class="navbar-text navbar-right">Logged in as {{currentUser.name}}</p>
	</div>
</nav> 
	<div class="container">	
	
     <div class="row">
     	 <div class="col-sm-3 col-md-4"></div>
		 <div class="col-xs-3 col-md-4">


			<form style="margin-top:60%; margin-bottom:50%;" ng-submit="register(name,username, password)">
			<h1>Sign Up </h1>
				  <div class="form-group">				  
				    <input type="text" name="name" ng-model="name" class="form-control" placeholder="Name">
				  </div>
				  <div class="form-group">				  
				    <input type="text" name="email" ng-model="username" class="form-control" placeholder="Email">
				  </div>				  
				  <div class="form-group">				    
				    <input type="password" name="password" ng-model="password" class="form-control"  placeholder="Password">
				  </div>				  
				  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		 </div>
		 <div class="col-xs-6 col-md-4"></div>		
	 </div>		
	</div>
</div>