
<div class="container">
  <nav class='navbar navbar-inverse'>
  
  <div class="navbar-header">
      <a class="navbar-brand" href="/">Trail-Tracker</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/#/">History</a></li>
      <li><a href="/#/register">Report</a></li>
      <li><a href="/#/login">Settings</a></li>      
    </ul>
    
  </div>
</nav>  
  <div class="container"> 
  <div class="row">        
        <div class="col-md-2">
          <a href="#/vehicles/new/info" class="btn btn-primary btn-sm pull-left">+ Add New Vehicle</a>
        </div>

  </div>
  <br/>
  <table class="table table-hover">
      <thead>
        <tr>        
          <th data-sort-ignore="true">Device ID</th>
          <th data-type="alpha" >Vehicle Number</th>
          <th>Driver Name</th>
          <th data-sort-ignore="true">Position</th>
          <th>Status</th>          
        </tr>
      </thead>
      <tbody>
        <tr>
        <td></td>
        <td></td>
        <td>{{name}}</td>
          
      </tbody>
    </table>

     
  </div>

