
<div class="container">
  <nav class='navbar navbar-inverse'>
  
  <div class="navbar-header">
      <a class="navbar-brand" href="/">Trail-Tracker</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/#/">History</a></li>
      <li><a href="/#/register">Report</a></li>
      <li><a href="/#/login">Settings</a></li>
    </ul>
    
  </div>
</nav>  
  <div class="container"> 
  <table>
    <tr>
        <th width="220">Device ID</th>
        <th width="220">Vehicle Number</th>
        <th width="220">Driver Name</th>
        <th width="180">Position</th>
        <th width="180">Status</th>
        
        
        

    </tr>
    
    
    <tr data-id="353173064679903" data-model="arvaa">
    
        <td height="50">AST001</td>
        <td>DL 5S BV 6741</td>
        <td>Ethun Hunt</td>
        
        
        
    <td width="120"><a type="button" class="btn btn-info" data-dismiss="modal" href="/arvaa/show/55bb1a9a0aa458e55374f6c1" target="_blank"> <span class="glyphicon glyphicon-map-marker"></span> Locate</a></td>    
        
    </tr>

    <tr data-id="353173064679903" data-model="arvaa">
    
        <td height="50">AST002</td>
        <td>BR 1AG 8030</td>
        <td>Valentino Rosi</td>
        
        
        
    <td width="120"><a type="button" class="btn btn-info" data-dismiss="modal" href="/arvaa/show/55bb1a9a0aa458e55374f6c1" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Locate </a></td> 

    <td width="120"><a type="button" class="btn btn-danger" data-dismiss="modal" href="/arvaa/show/55bb1a9a0aa458e55374f6c1" target="_blank"><span class="glyphicon glyphicon-warning-sign"></span>  2 Warnings </a></td>    
        
    </tr>



    <tr data-id="353173064679903" data-model="arvaa">
    
        <td height="50">AST003</td>
        <td>UK 3M 1843</td>
        <td>Michael Schumacher</td>
        
        
        
    <td width="120"><a type="button" class="btn btn-info" data-dismiss="modal" href="/arvaa/show/55bb1a9a0aa458e55374f6c1" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Locate </a></td>

    <td width="120"><a type="button" class="btn btn-warning" data-dismiss="modal" href="/arvaa/show/55bb1a9a0aa458e55374f6c1" target="_blank"><span class="glyphicon glyphicon-exclamation-sign"></span> Signal Lost </a></td>    
        
    </tr>
    
    

  </table>
     
  </div>

