
<div class="container">
  <nav class='navbar navbar-inverse'>
  
  <div class="navbar-header">
      <a class="navbar-brand" href="/">Trail-Tracker</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/#/">History</a></li>
      <li><a href="/#/register">Report</a></li>
      <li><a href="/#/login">Settings</a></li>      
    </ul>
    
  </div>
</nav>  
  <div class="container"> 
  <div class="top-buffer row">
        <div class="col-md-12">
          <input type="text" ng-model=""  placeholder="Device ID" class="form-control" autofocus>
        </div>
  </div>

  <div class="top-buffer row">
        <div class="col-md-12">
          <input type="text" ng-model=""  placeholder="Vehicle Number" class="form-control">
        </div>
  </div>

  <div class="top-buffer row">
        <div class="col-md-12">
          <input type="text" ng-model=""  placeholder="Driver Name" class="form-control">
        </div>
  </div>

  <div class="top-buffer row">
        <div class="col-md-12">
          <input type="text" ng-model=""  placeholder="SOS contact" class="form-control">
        </div>
  </div>

  <div class="top-buffer row">
        <div class="col-md-12">
          <a href="#/vehicles/new/info" class="btn btn-success btn-lg pull-right">Save</a>
        </div>

  </div>
  <br/>     
  </div>

